<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full h-full bg-zinc-900">
  <div class="w-full h-full bg-zinc-900 p-20 text-white">
    <form action="/login" method="post">
      <h2 class="text-3xl mb-5">Login User</h2>
      <input type="email" class="px-5 py-2 bg-transparent border-2 border-zinc-800 rounded-lg" placeholder="email" name="email">
      <input type="password" class="px-5 py-2 bg-transparent border-2 border-zinc-800 rounded-lg" placeholder="password" name="password">
      
      <input type="submit" class="px-5 py-2 bg-blue-500 border-1 rounded-lg" value="Login">

  
    </form>

  </div>
</body>
</html>